body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 28%, rgba(9,9,121,1) 62%, rgba(0,212,255,1) 100%);
    color: blanchedalmond;
}
.generator{
    background-color: #0f4c75;
    width: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0 9 9e9q #0005;
}
div.password{
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
}
div.password input{
    padding: 7px 10px;
    border-radius: 10px;
    background-color: #3282B8;
    border: 0;
}

.generate {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
  box-shadow: inset 0 0 9e9q #0005;
}

.generate:hover,
.generate:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.generate:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.generate {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}
div.password button{
    margin: 10px;
    border-radius: 10px;
    display: flexbox;
    width: 50px;
    background-color: #006fb9;
}

div.range{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr min-content;
}
div.range span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    margin-left: 20px;
    min-width: 30px;
    text-align: center;
}
div.options{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
div.options label{
    display: block;
    background-color: rgba(2,0,36,.2);
    padding: 8px;
    border-radius: 10px;

}
