body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 28%, rgba(9,9,121,1) 62%, rgba(0,212,255,1) 100%);
    color: blanchedalmond;
}
.generator{
    background-color: #0f4c75;
    width: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 20px;
}
div.password{
    display: grid;
    grid-template-columns: auto;
    border-radius: 10px;
    overflow: hidden;
}
div.password input{
    padding: 7px 10px;
    background-color: #3282B8;
    border: 0;
}


.generate {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 50px;
  padding: 4px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 50;
}

.generate:active,
.generate:hover {
  outline: 0;
}

.generate span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 10%;
  transition: 300ms;
}

.generate:hover span {
  background: none;
}

@media (min-width: 10px) {
  .generate {
    font-size: 30px;
    min-width: 10px;
  }
}